.tabs:not(:last-child) {
  margin-bottom: 0;
}

.tab-content {
  padding: 1rem;
  display: none;
}

.tab-content.is-active {
  display: block;
}

.tabs.is-disabled {
    pointer-events: none;
    cursor: default;
}
